.content_bg {
    background: url(../images/Darlie-EF-product-tab-background.png) 0 0 no-repeat;
    width: 810px;
    height: 1100px;
   }

.video_link {
width: 350px;
height: 200px;
position: absolute;
top: 143px;
left: 464px;
   }
   
   .ul_btns  {
      list-style: none;
      position: absolute;
      top: 993px;
      clear: both;
      left: 22px;
   }
   
   .ul_btns li {
       float:left;
       display: block;
       width: 176px;
       margin-left: 10px;       
       margin-right: 10px;
   }
   
   .ul_btns li a {
        display: block;
        width: 176px;
        height: 64px;   
   }
   
   a.share {
       background: url(../images/DARLIE-EF-product-tab_Share-button.png) 0 0 no-repeat;
       width: 174px;
       height: 60px;
   }
   
   a.share:hover {
       background: url(../images/DARLIE-EF-product-tab_Share-button.png) 0 0 no-repeat;
       width: 174px;
       height: 60px;
   }
   /*
   a.invite {
       background: url(../images/Darlie-Expert-White-Product-Tab-Page-final_invite_blue.jpg) 0 0 no-repeat;
       width: 173px;
       height: 64px;       
   }
   
   a.invite:hover {
       background: url(../images/Darlie-Expert-White-Product-Tab-Page-final_invite_pink.jpg) 0 0 no-repeat;
       width: 173px;
       height: 64px;       
   }   
   */

   .bottom_link  {
    clear: both;
    position: absolute;
    top: 1065px;
    left: 664px;
    width: 119px;
    text-indent: 99999px;
   }       
       
